<body>
  {{#if loggedUser.Admin}}
    <div>
      <h1 style="color: #1e0044; text-align: center">Administrator Controls</h1>
      <p style="text-align: center">
        <button class="btn btn-default" id="toReportList">Report List</button>
        <button class="btn btn-default" id="toStatistic">Statistics</button>
      </p>
    </div>
  {{/if}}
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <br />
        <form action="/users/account" method="post">
          <div class="form-group">
            <label class="noPost" for="username">Username - {{username}}</label>
            <input
              type="email"
              class="form-control"
              id="username"
              name="username"
              placeholder="New Username"
            />
            <br />
            <input
              type="submit"
              id="upUButton"
              class="form-control button btn btn-danger"
              value="Update Username"
            />
            <br />
          </div>
        </form>
        <div class="rightMsg">
          {{#unless status}}
            <p>{{success1}}</p>
          {{/unless}}
        </div>
        <div class="wrongMsg">
          {{#unless status}}
            <p>{{message1}}</p>
          {{/unless}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <br />
        <form action="/users/account" method="post">
          <div class="form-group">
            <label class="noPost" for="nickname">Display Name -
              {{nickname}}</label>
            <input
              type="text"
              class="form-control"
              id="nickname"
              name="nickname"
              placeholder="New Display Name"
            />
            <br />
            <input
              type="submit"
              id="upNButton"
              class="form-control button btn btn-danger"
              value="Update Display Name"
            />
            <br />
          </div>
        </form>
        <div class="rightMsg">
          {{#unless status}}
            <p>{{success2}}</p>
          {{/unless}}
        </div>
        <div class="wrongMsg">
          {{#unless status}}
            <p>{{message2}}</p>
          {{/unless}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <br />
        <form action="/users/account" method="post">
          <div class="form-group">
            <label class="noPost" for="password">New Password - </label><br />
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="New Password"
            />
            <br />
            <label class="noPost" for="Cpassword">Confirm Password - </label><br
            />
            <input
              type="password"
              class="form-control"
              id="Cpassword"
              name="Cpassword"
              placeholder="Confirm New Password"
            />
            <br />
            <input
              type="submit"
              id="upPButton"
              class="form-control button btn"
              value="Update Password"
            />
          </div>
        </form>

        <div class="rightMsg">
          {{#unless status}}
            <p>{{success3}}</p>
          {{/unless}}
        </div>
        <div class="wrongMsg">
          {{#unless status}}
            <p>{{message3}}</p>
          {{/unless}}
        </div>
      </div>
    </div>

    <div class="wrongMsg">
      {{#unless status}}
        <p>{{message4}}</p>
      {{/unless}}
    </div>

    <br />
    <hr />

    <p><h3>Your Tasks : </h3></p>
    <div class="row">
      <input hidden="hidden" id="position" value="0" />
      {{#if post-list}}
        {{#each post-list}}
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="usercenterPic-container">
                <img
                  class="usercenterPic"
                  src={{this.photoArr}}
                  alt="defaultAlt"
                />
              </div>
              <div class="caption">
                <h3><a
                    href="http://localhost:3000/posts/postInfo/{{this._id}}"
                    class="usercenterTopic"
                  >{{this.topic}}</a></h3>
                <div style="width: 100%; height: 120px;overflow: hidden">
                  <p>{{this.content}}</p>
                </div>
                <hr />
                <p class="ButtonContainer">

                  <input
                    class="userDeleteButton btn btn-default"
                    type="button"
                    name={{this._id}}
                    value="Delete"
                  />

                  <div
                    class="modal fade"
                    id="{{this._id}}1"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <form
                          method="post"
                          action="http://localhost:3000/posts/editContent"
                        >
                          <div class="modal-header">
                            <input
                              hidden="hidden"
                              name="postId"
                              value={{this._id}}
                            />
                            <label
                              for={{this._id}}
                              class="control-label"
                            ></label>
                            <textarea
                              name="newContent"
                              class="form-control"
                              rows="7"
                              id={{this._id}}
                            >{{this.content}}</textarea>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              data-dismiss="modal"
                              onmouseover="this.style.backgroundColor='#1e0044',this.style.color='#FFFFFF'"
                              onmouseout="this.style.backgroundColor='#1e0044', this.style.color='#FFFFFF';"
                            >Back</button>
                            <button
                              type="submit"
                              onmouseover="this.style.backgroundColor='#1e0044',this.style.color='#FFFFFF'"
                              onmouseout="this.style.backgroundColor='#1e0044', this.style.color='#FFFFFF';"
                            >Change</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </p>
              </div>
            </div>
          </div>
        {{/each}}

      {{else}}
        <h3 id="postTip">No Tasks Yet!</h3>
      {{/if}}

    </div>
  </div>
  <script>
    let toReportList = document.getElementById("toReportList"); if
    (toReportList) { toReportList.onclick = function () { window.location.href =
    "http://localhost:3000/reports"; } } let toStatistic =
    document.getElementById("toStatistic"); if (toStatistic) {
    toStatistic.onclick = function () { window.location.href =
    "http://localhost:3000/reports/statistic"; } }
  </script>

  <script
    src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
  ></script>

  <script type="text/javascript">

    let deleteButtons = document.getElementsByClassName('userDeleteButton');
    for(let i = 0; i < deleteButtons.length; i++) { deleteButtons[i].onclick =
    function () { var httpReq = new XMLHttpRequest(); httpReq.open('post',
    'http://localhost:3000/posts/delete'); let currentPostId = this.name;
    httpReq.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    let s = `postId=${currentPostId}`; httpReq.send(s); httpReq.onload =
    function () { let timeOutWindow = setTimeout(function () {
    window.location.reload(); }, 500); } } }

  </script>
</body>